/*********************************
              Basic
**********************************/
html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding:0px;
    font-family: "Proxima Nova", "Montserrat Light", monaco, verdana, arial;
    font-size: 14px;
    background-color: #dde2e9;
}

h1 {font-size:190%;margin-top:0px;font-weight:normal}
h2 {font-size:160%;margin-top:10px;margin-bottom:10px;font-weight:normal}
h3 {font-size:120%;font-weight:normal}
h4 {font-size:100%;}
h5 {font-size:90%;}
h6 {font-size:80%;}

h1,h2,h3,h4,h5,h6 {
    background-color:transparent;
    color:#000000;
}

.wide {
    width: 100px;
}

.display-none {
    display: none;
}

.display-table{
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.display-table-row{
    display: table-row;
    border-collapse: collapse;
}

.display-table-cell{
    display: table-cell;
    border-collapse: collapse;
}

.dashed-bottom-border {
    border-bottom: 1px dashed black;
}

/*********************************
        float-box-nav
**********************************/
.float-box-nav{
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.float-box-nav li{
    float: left;
    position: relative;
}

.float-box-nav a{
    min-height: 25px;
    float: left;
    padding: 7px 20px;
    color:#FFF;
    font: 14px/24px "Proxima Nova", "Montserrat Light", monaco, verdana, arial;
    text-decoration: none;
}

.float-box-nav li:hover > a{
    background-color: #228B22;
}

*html .float-box-nav li a:hover{ /* IE6 */
    background-color: #228B22;
}

.float-box-nav li:hover > ul{
    display: block;
}

/* Sub-menu */

.float-box-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 39px;
    left: 0;
    z-index: 99999;
}

.float-box-nav ul li{
    float: none;
    margin: 0;
    padding: 0;
}

.float-box-nav ul a{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 45px;
    height: auto;
    display: block;
    background-color: #228B22;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

*html .float-box-nav ul a{ /* IE6 */
    height: 10px;
    width: 150px;
}

*:first-child+html .float-box-nav ul a{ /* IE7 */
    height: 10px;
    width: 150px;
}

.float-box-nav ul a:hover{
    color: #dde2e9;
}

.float-box-nav li:first-child a {
    padding-left: 25px;
}


/*********************************
        quick-action-btn
**********************************/
.quick-action-btn {
    margin-right: 5px;

    height: 24px;
    //border-radius: 6px;
    border: 1px solid transparent;

    color: #fff;
    //background-color: white;
    background-color: #00a9e0;
    //font-weight: 600;
    text-shadow: 0 0 transparent;
    display: inline-block;
    zoom: 1;
    transition: .5s all linear;
    text-transform: capitalize;
    white-space: nowrap;
    letter-spacing: .03em;
    cursor: pointer;
    line-height: 24px;

    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;

}

.quick-action-btn .quick-action-text {
    border-right: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
}

.quick-action-arrow {
    padding-right: 5px;
}

.quick-action-btn a {
    color: currentColor;
    display: inline-block;
    height: 100%;
    text-decoration: none;
}

.quick-action-btn svg{
    fill: #fff;
}

.quick-action-btn:hover {
    background-color: #00769c; //#00a9e0;
}

.quick-action-btn:hover a {
    color: #fff;
}

.quick-action-btn:hover svg{
    fill: #fff;
}

.quick-action-btn:hover .quick-action-text {
    border-right: 1px solid currentColor;
}

/************ Style for fixed header table **********/
.fixed{
  top:0;
  left: 0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
  background-color: white;
}

.fixed thead tr th {
    padding-top: 10px;
    padding-bottom: 10px;
}


/************ Style for dropdown option for button with dropdown option **********/
.dropdown-content {
    display: none;
    max-width: 200px;
    position: absolute;
    background-color: white;
    right: 15px;
    border: 1px solid black;
}

 .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

 .dropdown-content a:hover {
    background-color: black;
    color: white;
}

/*********************************
            Header Block
**********************************/
.wrapper {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    height: 50px;
    width: 100%;
}

.banner {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    width: 120px;
    vertical-align: middle;
    padding-left: 20px;
}

.logo img{
    height: 35px;
}

.title h1 {
    font-family: verdana;
    color: #61666e;
    margin: 0;
    //padding-top: 3px;
}

.admin-nav {
    width: 30%;
    text-align: right;
    vertical-align: middle;
    padding-right: 30px;
}

.admin-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space:nowrap;
}

.admin-nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: -webkit-match-parent;
    color: #666;
}

.admin-nav a {
    min-height: 20px;
    margin: 0;
    padding: 7px 13px 6px 15px;
    line-height: 1.5em;
    color: #505050;
    display: block;
    text-decoration: none;
    background: transparent;
}

.admin-nav ul ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 3px 5px rgba(0,0,0,.175);
    background-color: white;
    border:1px solid #eee;
}

.admin-nav ul ul li {
    display: inline;
    width: 100%;
}

.admin-nav li:hover > ul {
    visibility: visible;
    opacity: 1;
}

.admin-nav a:hover {
    color: #ff4800;
}

.admin-nav .selected{
    font-weight: bold;
}

.main-nav {
    background-color: #31363e;
}

.main-nav .selected {
    font-weight: bold;
    background-color: #228B22;
}

.sub-nav-container {
    background-color: #61666e;
    color: #F8F8FF;
}

.sub-nav a{
    height: 25px;
}

.sub-nav .rsaquo-span {
    font-size: 18px;
    padding-left: 10px;
}

.sub-nav li:hover > a{
    background-color: #31363e;
}

.sub-nav ul a{
    background-color: #31363e;
}

.sub-nav .selected-after::after {
    position:relative;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom:6px solid #dde2e9;
    width:0;
    height:0;
    bottom:0;
    top: -20px;
    left: 35%;
    content:'';
}

/*********************************
            Article Block
**********************************/
.article{
    height: 100%;
}

.project-item {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: auto;
}

.project-selector {
    display: inline-block;
    zoom: 1;
    border: 0;
    transition: .5s all linear;
    text-transform: capitalize;
    white-space: nowrap;
    letter-spacing: .03em;
    line-height: 30px;
    cursor: pointer;
    background-color: #31363e;
    color: #fff;
    padding: 0 1em;
    margin: 0 1em 0 0;
    position: relative;
    z-index: 5;
}

.project-selector:hover {
    background-color: #00a9e0;
}

.project-selector h3 {
    display: inline-block;
    vertical-align: 0;
    margin: 0;
    padding: 2.5px 0;
}

.ps-icon {
    display:inline-block;
    vertical-align:-8%;
    margin-left:5px;
}

.project-selector-icon {
    width:16px;
    height:16px;
    fill:#00a9e0;
    margin-right:.25em;
}

.project-selector:hover .ps-icon .project-selector-icon{
    fill:currentColor
}

.article .article-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-article {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid #ccc8c8;
}

.main-article-nav-container {
    width: 100%;
    background-color: #f1f0f0;
    border-top: 1px solid #ccc8c8;
    border-bottom: 1px solid #ccc8c8;
    display: inline-block;
}

.main-article-nav {
    margin-top: 5px;
    margin-left: 6px;
}

.main-article-nav a{
    color: #494d53;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-article-nav li:first-child a {
    padding-left: 10px;
}

.main-article-nav li:hover > a{
    background-color: #e5e2e2;
}

.main-article-nav .selected-tab {
    border-top: 1px solid #ccc8c8;
    border-left: 1px solid #ccc8c8;
    border-right: 1px solid #ccc8c8;
    color: #61666e;
    background-color: #fff;
}

.main-article-tab-info-container {
    margin: 10px;
    border: 1px solid #dde2e9;
}

.main-article-info-header {
    background-color: #dde2e9;
}

.main-article-info-header .header-tag{
    display: inline-block;
}

.main-article-info-header h1 {
    margin: 0;
    font-weight: 300;
    font-size: 1.714em;
    letter-spacing: -.025em;
    padding: 10px .5em;
}

/*********************************
            Footer Block
**********************************/
.footer {
    color: back;
    border-top: 1px solid #ccc8c8;
    //background-color: #CBC8C8;
    height:50px;
}

.footer a:link, .footer a:visited, #userinfo-container a:link, #userinfo-container a:visited {
    text-decoration:none;
    color:#404040;
    background-color:transparent;
}

.footer a:hover, .footer a:active, #userinfo-container a:hover, #userinfo-container a:active {
    text-decoration:underline;
    color:#404040;
    background-color:transparent;
}

.footer .logo {
    padding-left: 50px;
}

.footer .logo img{
    height: 25px;
}

.footer-nav {
    text-align: right;
    padding-right: 50px;
}

.footer-nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    white-space:nowrap;
}

.footer-nav ul li{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: -webkit-match-parent;
    margin-top: -10px;
}

.copyright {
    font-size:13px;
    text-align:center;
    color:black;
}





/*.session-dropdown {
    display: none;
    max-width: 100px;
    position: absolute;
    background-color: white;
    right: 15px;
    border: 1px solid black;
}

 .session-dropdown span {
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

 .session-dropdown span:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}*/
