.grippy-table {
    width: 100%;
    border-collapse: collapse;
}

.grippy-table thead {
    border-top: 3px solid #767676;
    background: #f5f5f5;
}

.grippy-table thead th {
    padding: .5em .5em .25em .3em;
    vertical-align: middle;
    text-align: left;
    //border-bottom: 1px solid #b7bcc4;
    font-size: 16px;
    color: #272c34;
}

.grippy-table thead th[data-sort] {
	cursor:pointer;
}

.grippy-table th a {
    //color: #272c34;
}

.grippy-table td {
    text-align: left;
    //border: 1px solid #dde2e9;
    //border-width: 1px 0;
    //border-color: transparent transparent #dde2e9;
    border-bottom: 1px solid #dde2e9;
    padding: .25em .25em .25em .3em;
}

.grippy-table td.hasGrippy {
    padding: 0!important;
    margin: 0!important;
    width: 10px;
    border-left-width: .1em;
    -moz-padding-start: 0!important;
    -webkit-padding-start: 0!important;
}

.grippy-table td.hasGrippy .grippy {
    height: 36px;
    width: 9px;
    color: #dde2e9;
    display: block;
    position: relative;
    margin: 1px;
    cursor: grab;
}

.grippy-table td.hasGrippy .dot {
    width: 9px;
    height: 4px;
    display: block;
    position: relative;
    left: 0;
    top: 7px;
}

.grippy-table td.hasGrippy .dot:after, .grippy-table td.hasGrippy .dot:before {
    content: '';
    width: 3px;
    height: 3px;
    background-color: currentColor;
    margin: 1px;
    position: absolute;
    top: 0;
    left: 0;
}

.grippy-table td.hasGrippy .dot:after {
    left: auto;
    right: 0;
}

.grippy-table tbody tr:last-child td {
    //border-bottom: 0;
}

.grippy-table .backlog-title-container * {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.grippy-table .backlog-title-container .backlog-image-container {
    padding-right: 10px;
}
