.login-body {
    margin: 0px;
    padding:0px;
    //font-family: "Proxima Nova", "Montserrat Light", monaco, verdana, arial;
    font-size: 14px;
    //background-color: #81b688; //#82bf8a; //#7eb787;

    background: #81b688; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#77b785, #7eb787, #7ab985, #6f9178, #667a6e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#77b785, #7eb787, #7ab985, #6f9178, #667a6e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#77b785, #7eb787, #7ab985, #6f9178, #667a6e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#77b785, #7eb787, #7ab985, #6f9178, #667a6e); /* Standard syntax (must be last)*/
}

.login-body *{
    font-size: 16px;
}

.login-main {
    height: 600px;
    margin: 0;
    border: 1px solid #e5e5e5;
}

.login {
    margin: 0;
    width: 50%;
    border-right: 1px solid #d4d4d4;
}

.login-main * {
    font-size: 15px;
    font-weight: normal;
}

.login-form input {
    width: 300px;
}

.login h3 {
    font-weight:normal;
    font-size:40px;
    line-height: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.login-main a:link,
.login-main a:visited {
    color:#0071E0;
    text-decoration:none;
}

.login-main a:hover,
.login-main a:active {
    color:#ff4800;
    text-decoration:none;
}

#signup-nav-sub {
    margin-top: 55px;
    margin-left: 65px;
}

#signup-nav-sub * {
    margin: 0;
    padding: 0;
}

#signup-nav-sub h3 {
    font-weight:normal;
    font-size:20px;
    line-height: normal;
    margin: 0;
}

#login-sub {
    margin-top: 5px;
    margin-left: 90px;
}

#signIn {
    width: 150px;
    margin-top: 20px;
}


.user-reg {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    height: 100%;
}

.user-reg a {
    text-decoration: none;
}

.user-reg .user-reg-container {
    -ms-flex-preferred-size: 400px;
    flex-basis: 400px;
}

.user-reg .user-reg-logo {
    text-align: center;
    width: 100%;
}

.user-reg h2 a {
    font-size: 2rem;
    line-height: 2rem;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.user-reg .tagline {
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
}

.user-reg h2, .user-reg form {
    margin-bottom: 2rem;
}

.user-reg .login-text, .user-reg .register-text {
    text-align: center;
}

.user-reg fieldset {
    margin-bottom: .5rem;
}

.user-reg input[type=number],
.user-reg input[type=text],
.user-reg input[type=password],
.user-reg input[type=url],
.user-reg input[type=email],
.user-reg input[type=date],
.user-reg select,
.user-reg textarea {
    background: #f5f5f5;
    border-color: #767676;
    color: #444;
    border: 1px solid;
    margin: 0;
    padding: 8px;
    width: 100%;
}

.user-reg .login-text span {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.user-reg img {
    width: 250px;
    height: 250px;
}

.user-reg-form-container a, .user-reg-form-container a:visited {
    text-decoration: none;
    color: #444;
}

.user-reg-form-container a:hover, .user-reg-form-container a:active {
    color: #94be52; //#ee1c25; //#fe0000; //#35aa47; //#257631; //#8cc90a;
}

.user-reg-form-container .login-password {
    position: relative;
}

.user-reg-form-container .forgot-pass {
    font-size: .9rem;
    color: #555;
    opacity: 1;
    position: absolute;
    right: 1rem;
    top: .6rem;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

button.submit-button {
    width: 104.5%;
    height: 40px;
    text-transform: uppercase;
}
