.login-body {
    margin: 0px;
    padding:0px;
    font-family: "Proxima Nova", "Montserrat Light", monaco, verdana, arial;
    font-size: 14px;
    background-color: #7eb787;
}

.login-main {
    height: 600px;
    margin: 0;
    border: 1px solid #e5e5e5;
}

.login {
    margin: 0;
    width: 50%;
    border-right: 1px solid #d4d4d4;
}

.login-main * {
    font-size: 15px;
    font-weight: normal;
}

.login-form input {
    width: 300px;
}

.login h3 {
    font-weight:normal;
    font-size:40px;
    line-height: normal;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
}

.login-main a:link,
.login-main a:visited {
    color:#0071E0;
    text-decoration:none;
}

.login-main a:hover,
.login-main a:active {
    color:#ff4800;
    text-decoration:none;
}

#signup-nav-sub {
    margin-top: 55px;
    margin-left: 65px;
}

#signup-nav-sub * {
    margin: 0;
    padding: 0;
}

#signup-nav-sub h3 {
    font-weight:normal;
    font-size:20px;
    line-height: normal;
    margin: 0;
}

#login-sub {
    margin-top: 5px;
    margin-left: 90px;
}

#signIn {
    width: 150px;
    margin-top: 20px;
}


.auth {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    height: 100%;
}

.auth .auth-container {
    -ms-flex-preferred-size: 400px;
    flex-basis: 400px;
}

.auth .logo-svg {
    text-align: center;
    width: 100%;
}

.auth .logo {
    font-size: 3rem;
}

.auth .tagline {
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
}

.auth .logo, .auth .tagline, .auth form {
    margin-bottom: 1rem;
}

.auth .logo, .auth .tagline {
    color: #fff;
    text-align: center;
}
