.main-article-info-header .story-inline-btn {
    float: right;
    margin-top: 10px;
}

.main-article-info-header .add-story-btn {
    margin-left:
}

.project-backlog-container {
	margin-left: 0;
	margin-right: 0;
}

.move-to-project-btn {
    margin-top: 5px;
    margin-left: 5px;
}

.project-backlog-table-container {
    margin-top: 10px;
}

.session-button {
    margin-top: 5px;
}

.session-button .story-inline-btn{
    float: right;
    margin-top: 5px;
}

.project-title {
    text-transform: uppercase;
}

.project-title:hover {
    color: #47cefa;
    cursor: pointer;
}
